<form>
    <div class="container card w-25">
        <div class="card-body">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username"  placeholder="Enter username">
                    </div>
                </div>
                <div class="col-md-12">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password">
                </div>
              </div>
              <button type="submit" class="btn btn-success" (click)="login()">Login</button>
            </div>
        </div>  
  </form>